
body{
  background-color: #333;
}

  #input{
    padding: 10px 20px;
    font-size:25px;
    height: 75px;
    max-width: 320px;
    border-radius: 10px;
  

  
   margin: auto;
     margin-top: 15px;
   margin-bottom: 15px;
    
  }
  #inputOut{

    padding: 10px 20px;
    font-size:25px;
    height: 75px;
    max-width: 320px;
    border-radius: 10px;
  

  
   margin: auto;
     margin-top: 15px;
   margin-bottom: 15px;
    
  }
#imgCALCULATOR{
  height: 220px; width: auto;
}

  #selectBox{
    font-size:25px;
    height: 45px;
    width: 55px;
    border-radius: 10px;
    margin: 15px;
   
  }

  #imgSize{
    max-width: 300px;
    max-height: 600px;
  }
  /* Black buttons with extra padding and without rounded borders */
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
  height: 45px;
  width: 150px;
  font-size: 100px;
  margin-top: 1px;
  
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}

.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}

